.wrap {
    background: white;
}


/* NOTE: Modify border colour. navbar */

.navbar {
    background-color: white;
    background-image: none;
    border-color: #1e2b3d;

    
}

.Top-Head{
    background-color: grey
    }

/* subject to change. */

.navbar .navbar-brand {
    color: #1e2b3d;
    font-family: "helvetica" sans-serif;
}

.head1 {
    color: white;
    font-family: "helvetica" sans-serif;
    text-align: left;
}

.headO {
    color: white;
    font-family: "helvetica" sans-serif;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: left;
}


/*
greenish -- #6ad59f 
purple -- #af95ee
blue -- #7dc7fd
orangish/Gold -- #fdc082

*/


/* Make all fonts the same. */

.nav.navbar-nav.navbar-right li a {
    font-family: "helvetica" sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 0.063rem;
    color: #1e2b3d;
}

/*.nav.navbar-nav.navbar-right li:nth-of-type(3) a{
    color: #af95ee
}
.nav.navbar-nav.navbar-right li:nth-of-type(4) a{
    color: #af95ee
}*/
/* Make Contact Sales a different color*/



.lead {
    font-family: "helvetica" sans-serif;
    text-align: left;
    color: #1e2b3d;
}

.bGroup {
    background-color: white;
}


#wrapper {
    height: 100%;
    width: 300px;
    background-color: #1e2b3d;
}

#first {
    background-color: #1e2b3d;
    height: 200px;
}

.features-blocks{
    background-color: #1e2b3d;
    height: 150px;

}


.history-section{
    background-color: white;
    height: 510px;
}
.save-money-section{
    background-color: white;
    height: 600px;
}

.tech-section{
    background-color: white;
    height: 600px;
}
.Company-History{
    color: #7dc7fd;
    font-family: "helvetica" sans-serif;
}
.Finance-Impact{
    color: #6ad59f;
    font-family: "helvetica" sans-serif;
}

.Tech-Stack{
    color: #af95ee;
    font-family: "helvetica" sans-serif;
}

.block-1{
    background-color: #1e2b3d;
    height: 150px;
    
}


.block-2{
    background-color: #1e2b3d;
    height: 150px;
    
}

.head2{
color: #1e2b3d;
    font-family: "helvetica" sans-serif;
}

.trial-block{
    background-color: #1e2b3d;
    height: 150px;
    
}