node_modules/
bower_components
dist/
log/
npm-debug.log
.env
.idea
.DS_Store
server/log
newrelic_agent.log

mobile/platforms/
mobile/plugins/
mobile/www/*
!mobile/www/ionic/
!mobile/resources/
!mobile/README
*.swp
*.iml
coverage/
