<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />
    <link rel="icon" href="assets/images/DOCK_NoName.png">

    <title>Dock In</title>

    <!-- NOTE: Load CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="assets/css/neon.css">
    <link rel="stylesheet" href="assets/css/index.css">




    <!--[if lt IE 9]>
    <script src="assets/js/ie8-responsive-file-warning.js" async></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" async></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" async></script>
    <![endif]-->


</head>

<body>

    <div class="wrap">


        <!-- Logo and Navigation -->
        <div class="site-header-container container">
            <div class="row">
                <div class="col-md-12">
                    <header class="site-header">

                        <nav class="navbar navbar-inverse navbar-static-top" id="nv">

                            <!-- logo: links empty -->
                            <div class="navbar-header">
                                <a href="#" class="navbar-brand">Dock In</a>
                            </div>

                            <!-- three vertical bars -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                            </button>

                            <!-- menu items -->
                            <!-- navbar collapses -->
                            <div class="collapse navbar-collapse" id="myNav">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="Tech">
                                        <a href="#">
                                            <span>TECHNOLOGY</span>
                                        </a>
                                    </li>
                                    <li class="Fin.">
                                        <a href="#">
                                            <span>FINANCE</span>
                                        </a>
                                    </li>

                                    <li class="login">
                                        <a href="login.html">
                                            <span>LOGIN</span>
                                        </a>
                                    </li>
                                    <li class="signup">
                                        <a href="signup.html">
                                            <span>SIGN UP</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </nav>

                    </header>
                </div>
            </div>
        </div>




















        <tab>
            <section class="history-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" class="center-block">
                            <br />
                            <br />
                            <br />
                            <h1 class="head2">
                                Integrated artificial<br> office assistant

                            </h1>
                            <p class="lead">
                                The Dock In system will seemlessly integrate <br> with your existing technologies. Our goal
                                <br> is to provide you with the most realistic office <br> assistant that can handle all
                                the logistical<br/> complexities of running a small business.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <br />


                            <img src='/assets/images/robo.png' class="center-block" width="400" />
                        </div>
                    </div>

                </div>
            </section>


            <!-- Features Blocks -->
            <section class="features-blocks">

                <div class="container">

                    <div class="row vspace">
                        <!-- "vspace" class is added to distinct this row -->

                        <div class="col-sm-4">

                            <div class="feature-block">
                                <h3 class="head1">
                                    <i class="entypo-cog"></i> Analytics
                                </h3>

                                <p>
                                    As an admin, you will be given as much data as you want about you business.
                                </p>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="feature-block">
                                <h3 class="head1">
                                    <i class="entypo-gauge"></i> Slack
                                </h3>

                                <p>
                                    Integrate your notifications into Slack, so every part of your workflow is connected.
                                </p>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="feature-block">
                                <h3 class="head1">
                                    <i class="entypo-lifebuoy"></i> Newsletter
                                </h3>

                                <p>
                                    Gain access to our exclusive email listing.
                                </p>
                            </div>

                        </div>

                    </div>
                </div>











                <section class="tech-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">


                                <img src='/assets/images/code.png' class="center-block" width="500" />

                            </div>
                            <div class="col-md-6">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <h1 class="head2">
                                    Our technology utilizes<br/> the latest breakthroughs in <br/> human-computer interaction.
                                </h1>
                                <p class="lead">
                                    The Dock In engineering team have spent<br/> many hours ensuring that whatever means
                                    <br/> of communication that our clients are <br/> comfortable with; we provide.

                                </p>

                            </div>
                        </div>
                    </div>
                </section>






                <!-- Features Blocks -->
                <section class="features-blocks">

                    <div class="container">

                        <div class="row vspace">
                            <!-- "vspace" class is added to distinct this row -->

                            <div class="col-sm-4">

                                <div class="feature-block">
                                    <h3 class="head1">
                                        <i class="entypo-cog"></i> Customizable
                                    </h3>

                                    <p>
                                        Change the look and feel of your forms through our easy to use system.
                                    </p>
                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="feature-block">
                                    <h3 class="head1">
                                        <i class="entypo-gauge"></i> Omni Channel
                                    </h3>

                                    <p>
                                        Connect via messenger, sms, or email to set up appointments.
                                    </p>
                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="feature-block">
                                    <h3 class="head1">
                                        <i class="entypo-lifebuoy"></i> 24/7 Support
                                    </h3>

                                    <p>
                                        Enjoy ease of mind knowing that our customer support team is readily available at all times.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>

                <section class="save-money-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <h1 class="head2">
                                    Our artificial approach has<br/> proven to increase revenue <br/>and improve processes.
                                </h1>
                                <p class="lead">
                                    The Dock In AI will be able to handle<br/> the same responsibilites as an employee;<br/>                                    
                                    except this employee will cost a <br/>fraction of what you would normally would pay.<br/>

                                </p>
                            </div>
                            <div class="col-md-6">
                         <br />
                                <br />
                                <br />
                                <br />
                                <br />
      
                                <img src='/assets/images/profit.png' class="center-block" width="400" />

                            </div>
                        </div>
                    </div>
                </section>




                <!--Email -->
                <div class="trial-block">
                    <div class="container">
                        <div id="third">
                            <div class="container">
                                <h3 class="head1">Get your free, 60-day trial by sending us your company email!</h3>

                                <form>
                                    <div class="form-inline">
                                        <br />
                                        <input type="email" placeholder="Your Business Email" size="30">
                                        <button type="submit" class="btn btn-sm btn-danger">SIGN UP FREE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Site Footer -->
                <footer class="site-footer">

                    <div class="container">

                        <div class="row">

                            <div class="col-sm-6">
                                Copyright &copy; Dock In - All Rights Reserved.
                            </div>

                            <div class="col-sm-6">

                                <ul class="social-networks text-right">
                                    <li>
                                        <a href="#">
                                        <i class="entypo-instagram"></i>
                                    </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                        <i class="entypo-twitter"></i>
                                    </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                        <i class="entypo-facebook"></i>
                                    </a>
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </footer>








    </div>
</body>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/gsap/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
<script src="assets/js/joinable.js"></script>
<script src="assets/js/resizeable.js"></script>
<script src="assets/js/neon-slider.js"></script>
<script src="assets/js/neon-custom.js"></script>

</html>